body {
  background-image: url(https://t3.ftcdn.net/jpg/05/38/94/86/360_F_538948648_Dzrx35SbLQ88IbfHR7bx5Xy2cJTj4w38.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  color: rgb(245, 255, 250);
  font-family: Perpetua;
  font-size: 24px;
}

h1, p {
  text-align: center;
}

h1 {
 margin: 20px;
    background: radial-gradient(circle, rgba(238,174,202,1) 15%, rgba(187,203,218,1) 100%);

    font-size: 35px;
     border-radius: 25px;
}

p {
  margin-top: 0;
  margin-bottom: 2rem;
  color: white;
}

.established {
  font-style: italic;
}

form {
 background: radial-gradient(circle, rgba(238,174,202,1) 15%, rgba(187,203,218,1) 100%);
    line-height: 180%;
  color: black;
  border-radius: 5px;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
  width: 60vw;
  max-width: 700px;
  min-width: 350px;
  margin: 0 auto;
  padding: 15px 15px 25px 15px;
}

label {
  display: block;
}

fieldset {
  border: none;
}

input,
select,
textarea {
  width: 100%;
  margin: 0.1em 0 1em 0;
  min-height: 2em;
  font-size: 0.67em;
}

input,
select {
  border-radius: 5px;
}

textarea {
  min-height: 6.33em;
  resize: vertical;
}

input[type="submit"] {
  background-color: rgba(238,134,233,1);
  border-color: rgb(238, 204,123, 1);
  color: rgb(245, 255, 250);
  font-size: 1.33rem;
  min-height: 2.5em;
}

input[type="submit"]:hover {
  outline: none !important;
  border: 2px solid rgb(0, 255, 255);
  box-shadow: 0 0 10px rgb(0, 127, 127);
  cursor: pointer;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
select:focus {
  outline: none !important;
  box-shadow: 0 0 7px rgb(0, 255, 255);
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  min-height: unset;
  vertical-align: middle;
}
